/* Footer Styles - ფუტერის სტილები */

.site-footer {
    background-color: #E60000;
    color: #ffffff;
    padding: 2.5rem 0;
    margin-top: 4rem;
}

.site-footer p {
    margin: 0;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 700;
}